article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.el-input {
  width: 100%;
  min-width: 200px;
}

.el-date-editor.el-input{
  width: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  min-width: 500px;
}